*{
    box-sizing: border-box;
}

.external {
    color: black;
    background-color: #c2d4f4;
    border-radius: 12px;
    display: inline-block;
    padding: 1.2rem 0.5rem;
    text-decoration: none;
}

.external:hover, .external:focus {
    background-color: #6379a0;
    color: white;
    outline: none;
}
.internal {
    color: #4130dba6;
}

.internal:hover {
    color: rgba(196, 31, 31, 0.726);
}
img {
    max-width: 600px;
    height: auto;
    width: auto;
}
nav li {
    list-style: none;
}

nav ul {
    padding-left: 0;
    
}

nav a {
    border-bottom: 1px solid #697469;
    color: #454033;
    display: block;
    padding: .5rem 3rem;
    text-decoration: none;
}

nav a:hover, nav a:focus {
    background-color: #c2d4f4;
    color: white;
    outline: none;
}

nav a:active {
    background-color: #6379a0;
}


@media (min-width: 600px) {
    nav a {
        border: none;
        display: inline-block;
    }
    nav li {
        display: inline-block;
    }
}

/**************************CONTACT FORM STYLES**************************/
form ul {
    list-style-type: none;
    padding-left: 0;
}

label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
}

input, textarea {
    border: 1px solid #099;
    font: 1em sans-serif;
    width: 300px;

}
/***********************************************************************/